body {
  background-image: linear-gradient(to right, aqua, rgb(13, 222, 13));

}
#QuizApp{
  background: linear-gradient(to right, rgb(0, 153, 255) 25%, rgb(194, 20, 20) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-style: italic;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

img {
  width:555px;
  height:500px;
}

/* 
 * StartQuizPage.jsx 
 */
.QuizAppContainer {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.StartQuizForm {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.StartQuizForm input {
  width: 105%;
  height: 40px;
  font-size: 24px;
  text-align: center;
}

.StartQuizForm select 
{
  width: 80%;
  height: 40px;
  font-size: 24px;
  text-align: center;
}

.StartQuizForm button {
  width: 80%;
  height: 40px;
  font-size: 24px;
  text-align: center;
  background-color: green;
}

#QuizSettings {
  font-size: 48px;
  
}

.WelcomeName {
  color:rgb(10, 61, 244);
  position: relative;
  top:40px;
  right: -710px;
  font-size: xx-large;
  font-weight:bolder;
  font-style: italic;
  border: 1.5px solid black;
  border-width: 40px;
  border-style:ridge;
  border-color: rgb(16, 57, 1);
  background-color: rgb(88, 42, 10);

}

#SelectedTopic {
  position: relative;
  bottom:-70px;
  right: -325px;
  width: 510px;
  height: 50px;
  text-align: center;
  font-size: xx-large;
}

#Score {
  position: relative;
  right: -900px;
  width: 510px;
  height: 50px;
  text-align: center;
  font-size: xx-large;
}

.QuestionForm {
  position: relative;
  top:50px;
  right: -710px;
}

.QuestionForm > h1 {
  position: relative;
  top:15px;
  right: -100px;
}

.QuestionForm > p {
  position: relative;
  right: -50px;
  text-decoration: underline;
}

.answerchoicesbuttons {
  display: grid;
  grid-template-columns: 20px 250px;
  grid-auto-rows: 50px;
  justify-content: center;
  align-items: center;
}

#finishedquiz {
  color:black;
}
.FinishScoreOutput {
  

}
