body {
  background-image: linear-gradient(to right, aqua, rgb(13, 222, 13));

}
#WelcomeQuizApp{
  background: linear-gradient(to right, rgb(0, 153, 255) 25%, rgb(194, 20, 20) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-style: italic;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

img {
  width:555px;
  height:500px;
}

/* 
 * StartQuizPage.jsx 
 */
.QuizAppContainer {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.StartQuizForm {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.StartQuizForm input {
  width: 105%;
  height: 40px;
  font-size: 24px;
  text-align: center;
}

.StartQuizForm select 
{
  width: 80%;
  height: 40px;
  font-size: 24px;
  text-align: center;
}

.StartQuizForm button {
  width: 80%;
  height: 40px;
  font-size: 24px;
  text-align: center;
  background-color: green;
  margin-top: -30px;
}

#QuizSettings {
  font-size: 48px;
}

/* 
 * QuestionPage.jsx 
 */
 .QuestionPageContainer {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
 }

 /*Delete later */
 .WelcomeName {
  font-size: 64px;
  color:rgb(194, 20, 20);
  border: 8px dotted red;
  border-radius: 10%;
  padding: 16px;
}

.WelcomeName {
  color:rgb(10, 61, 244);
  font-size: xx-large;
  font-weight:bolder;
  font-style: italic;
  border: 1.5px solid black;
  border-width: 40px;
  border-style:ridge;
  border-color: rgb(16, 57, 1);
  background-color: rgb(88, 42, 10);

}

#SelectedTopic {
  gap: 200px;
}

#Score {
  font-style: oblique;
  gap: 200px;
  color:brown;
}

/* 
 * Question.jsx 
 */

.QuestionFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.QuestionFormContainer p {
  font-family: fantasy;
  font-size: 20px;
  text-decoration: underline;
}

.answerchoicesbuttons {
  gap: 16px;
  width: 100%;
  height: 50px;
  font-size: 20px;
}

.answerchoicesbuttons:hover {
  font-weight: bolder;
}


/* 
 * Output score page
 */

.FinishQuizOutputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  font-size: 30px;
}

.FinishQuizOutputContainer button{
  font-size: 20px;
  width: 20%;
}

.FinishQuizOutputContainer img{
  height: 20%;  
  width: 20%;
}