body {
  background-image: linear-gradient(to right, aqua, rgb(13, 222, 13));

}

#QuizApp {
  text-align:center;
  background: linear-gradient(to right, rgb(0, 153, 255) 25%, rgb(194, 20, 20) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-style: italic;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

img {
  position: relative;
  top:-70px;
  right: -630px;
  width: 555px;
  height: 500px;
}

.StartQuizForm {
  position: relative;
  top:-130px;
  right: -800px;
  width: 555px;
  height: 500px;
}

.StartQuizForm > h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#EnterName {
  position: relative;
  bottom:15px;
  right: 150px;
  width: 500px;
  height: 50px;
  text-align: center;
  font-size: larger;
}

#Topic {
  position: relative;
  bottom:15px;
  right: 150px;
  width: 510px;
  height: 50px;
  text-align: center;
  font-size: larger;
}

#Submit {
  background-color: rgb(59, 172, 59);
  position: relative;
  bottom:15px;
  right: 150px;
  width: 510px;
  height: 50px;
  text-align: center;
  font-size: larger;
}

.WelcomeName {
  color:ghostwhite;
  position: relative;
  top:40px;
  right: -710px;
  font-size: xx-large;
  font-weight:bold;
  font-style: oblique;
  border: 1.5px solid black;
  border-width: 40px;
  border-style:ridge;
  border-color: rgb(88, 42, 10);
  background-color: black;

}

